{% extends 'base_admin.html' %}
{% block content %}

<div class="row">
    <div class="col"></div>
    <div class="col" id="movie_card">
        <add-movie></add-movie>
    </div>
    <div class="col"></div>
</div>

<!-- Add Bootstrap and jQuery scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='components/movies.js') }}" defer></script>

{% endblock %}